<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#fc4557">
<link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">